**DAY6 문자열 뒤집기**

In [ ]:
def solution(my_string):
    answer = ''
    for i in range(len(my_string)):
        answer = answer + my_string[len(my_string)-1-i]
    return answer

**DAY6 짝수 홀수 개수**

In [ ]:
def solution(num_list):
    even = 0
    odd = 0
    
    for i in num_list:
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
    answer = [even, odd]
    return answer

**DAY6 문자 반복 출력하기**

In [ ]:
def solution(my_string, n):
    answer = ''
    for i in my_string:
        answer += i * n
    return answer

**DAY6 직각삼각형 출력하기**

In [ ]:
n = int(input())

for i in range(1, n+1):
    print("*"*i)

**DAY14 대문자와 소문자**

In [ ]:
def solution(my_string):
    answer = ''
    for i in my_string:
        if i.isupper():
            i = i.lower()
        elif i.islower():
            i = i.upper()
        answer += i
    return answer

**DAY15 영어가 싫어요**

In [ ]:
def solution(numbers):
    answer = 0
    nums = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    for index, num in enumerate(nums):
        numbers = numbers.replace(num, str(index))
    answer = int(numbers)
    return answer

**DAY15 인덱스 바꾸기**

In [ ]:
def solution(my_string, num1, num2):
    answer = ''
    my_string = list(my_string)
    my_string[num1], my_string[num2] = my_string[num2], my_string[num1]   
    answer = ''.join(my_string)
    return answer