**DAY5 옷가게 할인받기**

In [ ]:
def solution(price):
    answer = 0
    if price >= 500000:
        answer = int(price * 0.8)
    elif price >= 300000 and price < 500000:
        answer = int(price * 0.9)
    elif price >= 100000 and price < 300000:
        answer = int(price * 0.95)
    else:
        answer = int(price)
    return answer

**DAY5 아이스 아메리카노**

In [ ]:
def solution(money):
    iceamericano = money // 5500
    charge = money % 5500
    answer = [iceamericano, charge]
    return answer

**DAY5 나이 출력**

In [ ]:
def solution(age):
    answer = 2022 - age + 1
    return answer

**DAY5 배열 뒤집기**

In [ ]:
def solution(num_list):
    answer = list(reversed(num_list))
    return answer

**DAY14 가까운 수**

In [ ]:
def solution(array, n):
    answer = 0
    array = sorted(array)
    new_array = []
    
    # n과의 거리 파악을 위해서 new_array에 거리 append
    for i in array:
        new_array.append(abs(n - i))
    
    for i in range(len(new_array)):
        if new_array[i] == min(new_array):
            answer = array[i]
            break
    return answer

**DAY14 369게임**

In [ ]:
def solution(order):
    answer = 0
    str_order = str(order)
    
    for i in str_order:
        if i in ['3', '6', '9']:
            answer += 1
    return answer

In [ ]:
def solution(order):
    answer = 0
    str_order = str(order)
    
    for i in str_order:
        if i == '3' or i == '6' or i == '9':
            answer += 1
    return answer

**DAY14 암호 해독**

In [ ]:
def solution(cipher, code):
    answer = ''    
    for i in range(1, len(cipher)+1):
        if i % code == 0:
            answer += cipher[i-1]
    return answer